/*
Deliveroo-Colors:

primary Color: #5bc9bb
secondary light: #fafafa
primary light: #ffffff
secondary color: #367d89
light text: #c3c8cb

*/
* {
  margin: 0;
  padding: 0;
}

:root {
  --fontFactor: 1;
  --listItemSize: calc(16px * var(--fontFactor));
  --inputSize: calc(14px * var(--fontFactor));
  --textSize: calc(14px * var(--fontFactor));
  --titleSize: calc(20px * var(--fontFactor));
  --titleSizeBig: calc(40px * var(--fontFactor));
  --smallSize: calc(10px * var(--fontFactor));
  --primaryC: #5bc9bb;
  --primaryShadeC: #e9ebea;
  --backgroundC: #FFFFFF;
  --backgroundShadeC: #f5f5f5;
  --textC: #090909;
  --textShadeC: #848e94;
  --lightIndent: 4%;
  --lightIndentRemainder: calc(100% - 2* var(--lightIndent));
  --maxWidth: 400px;
  --menuWidth: 40%;
  --heightTitlebar: 5em;
  --toneDown: 90%;
  --frameVisible: "0.1em";
}

@font-face {
  font-family: Outfit;
  src: url(../../font/Outfit-VariableFont_wght.ttf);
}
html {
  margin: 0;
  padding: 0;
  border: 0;
  overflow-x: hidden;
  overflow-y: hidden;
}

.background {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--backgroundC);
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.mainContainer {
  box-shadow: 0 0 0.7em var(--backgroundShadeC);
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  position: relative;
  overflow-y: hidden;
  background-color: var(--backgroundShadeC);
  width: 100%;
  max-width: var(--maxWidth);
  height: 100%;
  flex-grow: 1;
}

.chatBoxWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  flex-grow: 1;
  height: calc(100% - var(--heightTitlebar));
}

.chatBox {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  flex-grow: 1;
  -ms-overflow-style: none;
  /* for Internet Explorer, Edge */
  scrollbar-width: none;
  /* for Firefox */
  overflow-y: scroll;
  overflow-x: hidden;
}
.chatBox::-webkit-scrollbar {
  display: none;
  /* for Chrome, Safari, and Opera */
}
.chatBox .wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
}
.chatBox .self {
  align-items: flex-end;
  color: var(--backgroundC);
}
.chatBox .self div {
  box-shadow: 0 0 0.7em var(--backgroundShadeC);
  background-color: var(--primaryC);
}
.chatBox .self div .text {
  color: var(--backgroundC);
}
.chatBox .self div .name {
  color: var(--backgroundC);
}
.chatBox .self div .time {
  color: var(--backgroundShadeC);
}
.chatBox .self .time {
  align-items: flex-end;
}
.chatBox .messageCard {
  background-color: var(--backgroundC);
  border-radius: 0.3em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0.4em;
  padding-left: 1em;
  padding-right: 1em;
  margin: 0.4em;
  margin-left: 0.8em;
  margin-right: 0.8em;
  max-width: 90%;
}
.chatBox .messageCard .name {
  font-family: Outfit;
  font-weight: 700;
  font-size: var(--textSize);
  color: var(--textC);
}
.chatBox .messageCard .text {
  font-family: Outfit;
  font-weight: Light;
  font-size: var(--textSize);
  color: var(--textC);
  word-break: break-word;
}
.chatBox .messageCard .time {
  font-family: Outfit;
  font-weight: 400;
  font-size: var(--smallSize);
  color: var(--textC);
  color: var(--textShadeC);
}
.chatBox .messageCard img {
  border-radius: 0.3em;
}
.chatBox .timeWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.chatBox .timecard {
  font-family: Outfit;
  font-weight: 300;
  font-size: var(--textSize);
  color: var(--textC);
  border-radius: 0.3em;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  padding: 0.4em;
  padding-left: 1em;
  padding-right: 1em;
  margin: 0.4em;
  margin-left: 0.8em;
  margin-right: 0.8em;
  background-color: var(--backgroundC);
}

.footer {
  box-shadow: 0 0 0.7em var(--backgroundShadeC);
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  font-family: Outfit;
  font-weight: 400;
  font-size: var(--inputSize);
  color: var(--textC);
  background-color: var(--backgroundC);
  width: 100%;
}
.footer .emojiWrapper {
  margin: 0;
  padding-bottom: 0;
  padding-top: 1em;
  margin-left: 1em;
  margin-right: 1em;
  border-bottom: 0.1em var(--backgroundShadeC) solid;
}
.footer .emojiWrapper .emojiContainer {
  -ms-overflow-style: none;
  /* for Internet Explorer, Edge */
  scrollbar-width: none;
  /* for Firefox */
  height: 8em;
  overflow-y: scroll;
  overflow-x: hidden;
}
.footer .emojiWrapper .emojiContainer::-webkit-scrollbar {
  display: none;
  /* for Chrome, Safari, and Opera */
}
.footer .emojiWrapper label {
  padding: 0.2em;
}
.footer .emojiWrapper label:hover {
  background-color: var(--backgroundShadeC);
  border-radius: 50%;
}
.footer .messageWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
  margin-left: var(--lightIndent);
  margin-right: var(--lightIndent);
  width: var(--lightIndentRemainder);
  border-bottom: 0.05em var(--primaryShadeC) solid;
  margin-bottom: 2em;
  min-height: 3em;
}
.footer .messageWrapper img {
  height: 100%;
  width: 100%;
}
.footer .messageWrapper textarea {
  font-family: Outfit;
  font-weight: 400;
  font-size: var(--inputSize);
  color: var(--textC);
  background-color: var(--backgroundC);
  color: var(--textC);
  flex-grow: 1;
  overflow-y: hidden;
  resize: none;
  border: 0;
  margin-left: 1em;
  margin-right: 1em;
  word-break: break-word;
}
.footer .messageWrapper textarea:focus {
  outline-width: 0;
}
.footer .messageWrapper button {
  border-radius: 0.3em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: transparent;
  border: 0;
  height: 2.5em;
  width: 2.5em;
  margin-top: 0;
}
.footer .messageWrapper button:hover {
  background-color: var(--backgroundShadeC);
}
.footer .messageWrapper button img {
  height: 1.5em;
  width: 1.5em;
}

.titleBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  font-family: Outfit;
  font-weight: 700;
  font-size: var(--titleSize);
  color: var(--textC);
  background-color: var(--backgroundC);
}
.titleBar .titleLeft {
  margin-left: 0.5em;
  width: 2.5em;
}
.titleBar .title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  height: 2.6em;
}
.titleBar .titleRight {
  margin-right: 0.5em;
  width: 2.5em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.menuWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  -webkit-backdrop-filter: brightness(var(--toneDown));
          backdrop-filter: brightness(var(--toneDown));
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
}
.menuWrapper .menu {
  border-radius: 0.3em;
  margin-left: var(--lightIndent);
  margin-right: var(--lightIndent);
  width: var(--lightIndentRemainder);
  font-family: Outfit;
  font-weight: 400;
  font-size: var(--inputSize);
  color: var(--textC);
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  box-shadow: 0 0 0.7em var(--backgroundShadeC);
  max-width: calc(var(--maxWidth) - 2em);
  position: relative;
  z-index: 3;
  margin-top: calc(var(--titleSize) * 3);
  border: var(--frameVisible) var(--textShadeC) solid;
  background-color: var(--backgroundC);
}
.menuWrapper .menu .menuItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 3em;
  margin-left: 1em;
  margin-right: 1em;
  border-bottom: 0.1em var(--backgroundShadeC) solid;
}
.menuWrapper .menu .menuItem label {
  flex-grow: 1;
}
.menuWrapper .menu .menuItem button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 0.3em;
  height: 2.2em;
  width: 2.2em;
  margin-right: 0.2em;
  border-width: 0;
  background-color: var(--backgroundC);
  color: var(--textC);
}
.menuWrapper .menu .menuItem button img {
  height: 100%;
  width: 100%;
}
.menuWrapper .menu .menuItem button:hover {
  background-color: var(--backgroundShadeC);
}
.menuWrapper .menu .menuItem:last-child {
  border: 0;
}
.menuWrapper .menu .menuDivider {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-bottom: 0.1em var(--textShadeC) solid;
  margin-left: 1em;
  margin-right: 1em;
  width: calc(100% - 2em);
}
.menuWrapper .menu .menuDivider img {
  width: 1em;
  height: 1em;
}
.menuWrapper .menu .menuDivider label {
  font-family: Outfit;
  font-weight: 400;
  font-size: var(--smallSize);
  color: var(--textC);
  color: var(--textC);
  flex-grow: 1;
  margin-left: 1em;
}
.menuWrapper .menu .buttonWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
}
.menuWrapper .menu .buttonWrapper .reset {
  font-size: var(--textSize);
}

.breakButton {
  border-radius: 0.3em;
  font-family: Outfit;
  font-weight: 600;
  font-size: var(--textSize);
  color: var(--textC);
  color: var(--backgroundC);
  background-color: var(--primaryC);
  padding: 1em;
  margin-top: 1em;
  margin-bottom: em;
  border-width: 0;
  margin-left: var(--lightIndent);
  margin-right: var(--lightIndent);
  width: var(--lightIndentRemainder);
}
.breakButton:hover {
  background-color: var(--backgroundC);
  color: var(--textC);
}
.breakButton:hover {
  box-shadow: 0 0 0.7em var(--backgroundShadeC);
}

.firstPrio {
  background-color: var(--primaryC);
}

.secondPrio {
  background-color: var(--backgroundC);
  color: var(--textShadeC);
}

.loginRegister {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  font-family: Outfit;
  font-weight: 400;
  font-size: var(--inputSize);
  color: var(--textC);
  height: calc(100% - var(--heightTitlebar));
}
.loginRegister form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  margin-top: 1em;
}
.loginRegister form input {
  border: 0;
  border-radius: 0;
  color: var(--textC);
  background-color: var(--backgroundC);
}
.loginRegister form .inputWrapper {
  background-color: var(--backgroundC);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-family: Outfit;
  font-weight: 400;
  font-size: var(--inputSize);
  color: var(--textC);
}
.loginRegister form .inputWrapper .defaultInput {
  margin-left: var(--lightIndent);
  margin-right: var(--lightIndent);
  width: var(--lightIndentRemainder);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-grow: 1;
  margin-bottom: 1em;
  margin-top: 1em;
  border-bottom: 0.05em var(--textShadeC) solid;
}
.loginRegister form .inputWrapper .defaultInput input {
  flex-grow: 1;
  margin-bottom: 0.7em;
  margin-top: 0.7em;
}
.loginRegister form .inputWrapper .defaultInput input:focus {
  outline-width: 0;
}
.loginRegister form .inputWrapper .defaultInput button:disabled {
  display: none;
}
.loginRegister form .inputWrapper .defaultInput button {
  border-radius: 0.3em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: transparent;
  border: 0;
  height: 2.5em;
  width: 2.5em;
  margin-top: 0;
}
.loginRegister form .inputWrapper .defaultInput button:hover {
  background-color: var(--backgroundShadeC);
}
.loginRegister form .inputWrapper .defaultInput button img {
  height: 1.5em;
  width: 1.5em;
}
.loginRegister form label {
  color: var(--primaryC);
}
.loginRegister form .passwordWrapper {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  margin-bottom: 1em;
  margin-top: 0.2em;
}
.loginRegister form .passwordWrapper input[type=text], .loginRegister form .passwordWrapper input[type=password] {
  flex-grow: 1;
  margin: 0;
}
.loginRegister form .passwordWrapper .inlineButton {
  border-radius: 0.3em;
  font-family: Outfit;
  font-weight: 600;
  font-size: var(--textSize);
  color: var(--textC);
  color: var(--backgroundC);
  background-size: 1.8em 1.8em;
  background-repeat: no-repeat;
  background-position: center;
  color: var(--textC);
  background-color: var(--backgroundC);
  padding: 1em;
  width: 2.8em;
  border-width: 0;
  margin: 0;
  margin-left: 0.6em;
  cursor: pointer;
}
.loginRegister form .passwordWrapper .inlineButton:hover {
  background-color: var(--primaryC);
}
.loginRegister .breakinglabeledCheckbox {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: var(--lightIndent);
  margin-right: var(--lightIndent);
  width: var(--lightIndentRemainder);
  margin-top: 0.4em;
}
.loginRegister .breakinglabeledCheckbox label {
  margin-left: 0.5em;
}
.loginRegister p {
  color: var(--textShadeC);
  margin-left: var(--lightIndent);
  margin-right: var(--lightIndent);
  width: var(--lightIndentRemainder);
  margin-top: 2em;
  margin-bottom: 2em;
}
.loginRegister p span {
  color: var(--textC);
  font-weight: 700;
}
.loginRegister h1 {
  margin-left: var(--lightIndent);
  margin-right: var(--lightIndent);
  width: var(--lightIndentRemainder);
  font-size: var(--titleSizeBig);
  margin-bottom: 0em;
  margin-top: 3em;
}

.errMsgWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: var(--backgroundC);
}
.errMsgWrapper .errMsg {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-radius: 0.3em;
  background-color: var(--textC);
  width: 70%;
  padding: 0.2em;
  padding-left: 1em;
  padding-right: 1em;
}
.errMsgWrapper .errMsg label {
  font-family: Outfit;
  font-weight: 400;
  font-size: var(--inputSize);
  color: var(--textC);
  color: var(--backgroundC);
}
.errMsgWrapper .errMsg button {
  background: transparent;
  border-width: 0;
  height: 1.8em;
  width: 1.8em;
}
.errMsgWrapper .errMsg button:hover {
  cursor: pointer;
}
.errMsgWrapper .errMsg button img {
  height: 100%;
  width: 100%;
}
.errMsgWrapper button {
  cursor: pointer;
}

.backButtonPopupWrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  -webkit-backdrop-filter: brightness(var(--toneDown));
          backdrop-filter: brightness(var(--toneDown));
}
.backButtonPopupWrapper .backPopup {
  font-family: Outfit;
  font-weight: 400;
  font-size: var(--textSize);
  color: var(--textC);
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  border-radius: 0.3em;
  margin-left: var(--lightIndent);
  margin-right: var(--lightIndent);
  width: var(--lightIndentRemainder);
  box-shadow: 0 0 0.7em var(--backgroundShadeC);
  max-width: calc(var(--maxWidth) - 4em);
  position: relative;
  z-index: 3;
  border: var(--frameVisible) var(--textShadeC) solid;
  margin: 1em;
  padding: 1em;
  background-color: var(--backgroundC);
}

.titleButton {
  background: transparent;
  border: 0;
  padding: 0;
  height: calc(var(--titleSize) * 1.2);
  width: calc(var(--titleSize) * 1.2);
}
.titleButton:hover {
  cursor: pointer;
  background-color: var(--backgroundShadeC);
}
.titleButton img {
  height: 100%;
  width: 100%;
}
.titleButton:disabled {
  display: none;
}

.searchOverlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  height: 15vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.searchOverlay .searchWrapper {
  font-family: Outfit;
  font-weight: 400;
  font-size: var(--inputSize);
  color: var(--textC);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  border-radius: 0.3em;
  box-shadow: 0 0 0.7em var(--backgroundShadeC);
  position: fixed;
  z-index: 1;
  left: calc(50vw - var(--maxWidth) / 2 + 5vw);
  top: 3.5em;
  width: 90%;
  max-width: calc(var(--maxWidth) - 10vw);
  background-color: var(--backgroundC);
}
.searchOverlay .searchWrapper .searchField {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 2em;
  width: 100%;
}
.searchOverlay .searchWrapper .searchField img {
  height: 100%;
  width: 100%;
}
.searchOverlay .searchWrapper .searchField button {
  width: 2.5em;
  height: 2.5em;
  background: transparent;
  border: 0;
}
.searchOverlay .searchWrapper .searchField button img {
  height: 100%;
  width: 100%;
}
.searchOverlay .searchWrapper .searchField button:disabled {
  display: none;
}
.searchOverlay .searchWrapper .searchField button {
  border-radius: 0.3em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: transparent;
  border: 0;
  height: 2.5em;
  width: 2.5em;
  margin-top: 0;
}
.searchOverlay .searchWrapper .searchField button:hover {
  background-color: var(--backgroundShadeC);
}
.searchOverlay .searchWrapper .searchField button img {
  height: 1.5em;
  width: 1.5em;
}
.searchOverlay .searchWrapper .searchField input {
  flex-grow: 1;
  border: none;
}
.searchOverlay .searchWrapper .searchField input:focus {
  outline-width: 0;
}
.searchOverlay .searchWrapper .filterField {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  height: 2em;
  width: 100%;
  margin-left: 0.8em;
  margin-right: 0.8em;
  border-top: 0.1em var(--backgroundShadeC) solid;
}
.searchOverlay .searchWrapper .filterField label {
  margin-right: 0.5em;
}

.searchFocus {
  background-color: var(--primaryC);
}

.photoOverlayWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 2;
  -webkit-backdrop-filter: brightness(var(--toneDown));
          backdrop-filter: brightness(var(--toneDown));
}
.photoOverlayWrapper .photoOverlay {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  border-radius: 0.3em;
  box-shadow: 0 0 0.7em var(--backgroundShadeC);
  max-width: var(--maxWidth);
  background-color: var(--backgroundShadeC);
}
.photoOverlayWrapper .photoOverlay video {
  border-radius: 0.3em;
  position: relative;
  height: 100%;
  width: 100%;
}
.photoOverlayWrapper .photoOverlay img {
  border-radius: 0.3em;
}

.breakButtonWrapper {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}
.breakButtonWrapper .photoHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.breakButtonWrapper .photoFooter {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.breakButtonWrapper .photoFooter .shutter {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  opacity: 70%;
  margin: 2em;
  border-radius: 50%;
  border: 0.1em var(--backgroundC) solid;
  width: 3em;
  height: 3em;
}
.breakButtonWrapper .photoFooter .shutter .innerShutter {
  background-color: var(--backgroundC);
  flex-grow: 1;
  border-radius: 50%;
  margin: 0.2em;
}
.breakButtonWrapper .photoFooter .shutter .innerShutter:hover {
  background-color: var(--primaryC);
}
.breakButtonWrapper .photoFooter .sendPhotoButton {
  opacity: 100%;
  background-color: var(--primaryC);
}
.breakButtonWrapper button {
  background-color: var(--backgroundC);
  opacity: 70%;
  margin: 1em;
  height: 2.5em;
  width: 2.5em;
  border-radius: 50%;
}
.breakButtonWrapper .placeholder {
  width: 2em;
  height: 2em;
  margin: 1em;
}

.photoPanel {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  box-shadow: 0 0 0.7em var(--backgroundShadeC);
  padding: 1em;
}
.photoPanel img {
  border-radius: 0.3em;
  width: 100%;
}/*# sourceMappingURL=main.css.map */