/*
Deliveroo-Colors:

primary Color: #5bc9bb
secondary light: #fafafa
primary light: #ffffff
secondary color: #367d89
light text: #c3c8cb

*/

* {
    margin: 0;
    padding: 0;
}

:root {

    --fontFactor: 1;

    //FONT-SIZES

    --listItemSize: calc(16px * var(--fontFactor));
    --inputSize: calc(14px * var(--fontFactor));
    --textSize: calc(14px * var(--fontFactor));
    --titleSize: calc(20px * var(--fontFactor));
    --titleSizeBig: calc(40px * var(--fontFactor));
    --smallSize: calc(10px * var(--fontFactor));

    //COLORS (LightMode initial)

    --primaryC: #5bc9bb;
    --primaryShadeC: #e9ebea;

    --backgroundC: #FFFFFF;
    --backgroundShadeC: #f5f5f5;

    --textC: #090909;
    --textShadeC: #848e94;

    --lightIndent: 4%;
    --lightIndentRemainder: calc(100% - 2* var(--lightIndent));

    //Dimensions
    --maxWidth: 400px;
    --menuWidth: 40%;
    --heightTitlebar: 5em;

    //Effects
    --toneDown: 90%;

    //borders
    --frameVisible: "0.1em"; 

}


@font-face {
    font-family: Outfit;
    src: url(../../font/Outfit-VariableFont_wght.ttf);
}


//FONT-WEIGHTS

$bold : 700;
$semibold : 600;
$regular : 400;
$thin: 300;

//ABSOLUTE LAYOUT


@mixin baseFont($weight, $size) {
    font-family: Outfit;
    font-weight: $weight;
    font-size: $size;
    color: var(--textC);
}

@mixin roundedCorners($radius) {
    @if $radius {
        border-radius: $radius;
    }

    @else {
        border-radius: 0.3em;
    }
}

@mixin dropShadow() {
    $size : 0.7em;

    box-shadow: 0 0 $size var(--backgroundShadeC);
}

@mixin flexOAJ($orientation, $align, $justify) {
    display: flex;
    flex-direction: $orientation;
    align-items: $align;
    justify-content: $justify;
}

@mixin insertSpacing() {
    padding: 0.4em;
    padding-left: 1em;
    padding-right: 1em;
    margin: 0.4em;
    margin-left: 0.8em;
    margin-right: 0.8em;
}

@mixin lightIndent() {
    margin-left: var(--lightIndent);
    margin-right: var(--lightIndent);
    width: var(--lightIndentRemainder);
}

@mixin hideScrollbar() {
    -ms-overflow-style: none;
    /* for Internet Explorer, Edge */
    scrollbar-width: none;
    /* for Firefox */


    &::-webkit-scrollbar {
        display: none;
        /* for Chrome, Safari, and Opera */
    }
}

@mixin defaultButton() {

    @include roundedCorners(false);
    @include baseFont($semibold, var(--textSize));

    color: var(--backgroundC);
    background-color: var(--primaryC);
    padding: 1em;
    margin-top: 1em;
    margin-bottom: em;
    border-width: 0;

    &:hover {
        background-color: var(--backgroundC);
        color: var(--textC);
    }
}

@mixin inlineButton() {
    button {
        @include roundedCorners(false);
        @include flexOAJ(row, center, center);
        background: transparent;
        border: 0;

        height: 2.5em;
        width: 2.5em;

        margin-top: 0;

        &:hover {
            background-color: var(--backgroundShadeC);

        }

        img {
            height: 1.5em;
            width: 1.5em;

        }
    }
}

@mixin titleButton() {
    background: transparent;
    border: 0;

    padding: 0;

    &:hover {
        cursor: pointer;
        background-color: var(--backgroundShadeC);
    }
}

@mixin imageLimiter() {
    img {
        height: 100%;
        width: 100%;
    }
}


html {
    margin: 0;
    padding: 0;
    border: 0;
    overflow-x: hidden;
    overflow-y: hidden;
}

.background {
    @include flexOAJ(column, center, center);
    background-color: var(--backgroundC);

    width: 100vw;
    height: 100vh;

    //override:
    margin: 0;
    padding: 0;
}

.mainContainer {
    @include dropShadow();
    @include flexOAJ(column, stretch, space-between);
    position: relative;
    overflow-y: hidden;
    background-color: var(--backgroundShadeC);

    width: 100%;
    max-width: var(--maxWidth);
    height: 100%;

    flex-grow: 1;
}

.chatBoxWrapper {
    @include flexOAJ(column, flex-start, flex-start);
    flex-grow: 1;
    height: calc(100% - var(--heightTitlebar));

}

.chatBox {
    @include flexOAJ(column, flex-start, flex-start);
    flex-grow: 1;

    @include hideScrollbar();
    overflow-y: scroll;
    overflow-x: hidden;

    .wrapper {
        @include flexOAJ(column, flex-start, flex-start);
        width: 100%;

    }

    .self {
        align-items: flex-end;
        
        div{
            @include dropShadow();
            background-color: var(--primaryC);

            .text{
                color: var(--backgroundC);
            }
            
            .name{
                color: var(--backgroundC);

            }

            .time{
                color: var(--backgroundShadeC);
            }
        }
        color: var(--backgroundC);
    }

    .self .time {
        align-items: flex-end;
    }

    .messageCard {
        background-color: var(--backgroundC);

        @include roundedCorners(false);
        @include flexOAJ(column, flex-start, flex-start);
        @include insertSpacing();

        max-width: 90%;


        .name {
            @include baseFont($bold, var(--textSize));
        }

        .text {
            @include baseFont(Light, var(--textSize));
            word-break: break-word;

        }

        .time {
            @include baseFont($regular, var(--smallSize));
            color: var(--textShadeC);
        }

        img {
            @include roundedCorners(false);
        }

    }

    .timeWrapper {
        @include flexOAJ(column, center, center);
        width: 100%;

    }

    .timecard {
        @include baseFont($thin, var(--textSize));
        @include roundedCorners(false);
        @include flexOAJ(row, stretch, center);
        @include insertSpacing();

        background-color: var(--backgroundC);
    }

}

.footer {
    @include dropShadow();
    @include flexOAJ(column, stretch, flex-start);
    @include baseFont($regular, var(--inputSize) );

    background-color: var(--backgroundC);
    width: 100%;

    .emojiWrapper{
        
        .emojiContainer{
            @include hideScrollbar();
            height: 8em;
            overflow-y: scroll;
            overflow-x: hidden;
        }
        
        margin: 0;
        padding-bottom: 0;
        padding-top: 1em;
        margin-left: 1em;
        margin-right: 1em;
        
        border-bottom: 0.1em var(--backgroundShadeC) solid;

        label{
            padding: 0.2em;

            &:hover{
                background-color: var(--backgroundShadeC);
                border-radius: 50%;
            }
        }
    }

    .messageWrapper {
        @include flexOAJ(row, center, space-between);

        flex-grow: 1;

        @include imageLimiter();
        @include lightIndent();

        border-bottom: 0.05em var(--primaryShadeC) solid;

        margin-bottom: 2em;

        min-height: 3em;

        textarea {
            @include baseFont($regular, var(--inputSize));

            background-color: var(--backgroundC);
            color: var(--textC);

            flex-grow: 1;
            overflow-y: hidden;
            resize: none;

            border: 0;

            margin-left: 1em;
            margin-right: 1em;

            word-break: break-word;

            &:focus {
                outline-width: 0;
            }
        }

        @include inlineButton();
    }
}

.titleBar {
    @include flexOAJ(row, center, flex-start);
    @include baseFont($bold, var(--titleSize));
    //height: var(--heightTitlebar);

    background-color: var(--backgroundC);


    .titleLeft {
        margin-left: 0.5em;
        width: 2.5em;
    }

    .title {
        @include flexOAJ(row, center, center);
        flex-grow: 1;

        height: 2.6em;
    }

    .titleRight {
        margin-right: 0.5em;
        width: 2.5em;
        @include flexOAJ(row, center, flex-end);
    }

}

.menuWrapper {
    @include flexOAJ(row, flex-start, center);
    backdrop-filter: brightness(var(--toneDown));
    position:fixed;
    top:0;
    left:0;

    height: 100vh;
    width: 100vw;

    .menu {
        $marginSides: 1em;
        $buttonSize: 2.2em;

        @include roundedCorners(false);
        @include lightIndent();
        @include baseFont($regular,var(--inputSize));
        @include flexOAJ(column, stretch , flex-start );
        @include dropShadow();

        max-width: calc(var(--maxWidth) - 2* $marginSides);

        position: relative;
        z-index: 3;
        margin-top: calc(var(--titleSize)*3);
        border: var(--frameVisible) var(--textShadeC) solid;

        background-color: var(--backgroundC);
        

        .menuItem{
            @include flexOAJ(row, center, center);
            height: 3em;
            margin-left: 1em;
            margin-right: 1em;
            border-bottom: 0.1em var(--backgroundShadeC) solid;

            label{
                flex-grow: 1;
            }
            button{
                @include flexOAJ(row,center ,center );
                @include imageLimiter();
                @include roundedCorners(false);
                height: $buttonSize;
                width: $buttonSize;
                margin-right: 0.2em;
                border-width: 0;
                background-color: var(--backgroundC);
                color: var(--textC);

                &:hover{
                    background-color: var(--backgroundShadeC);
                }

            }

            &:last-child{
                border:0;
            }
        }


        .menuDivider{
            @include flexOAJ(row, center , center);
            
            border-bottom: 0.1em var(--textShadeC) solid;
            margin-left: $marginSides;
            margin-right: $marginSides;
            width: calc(100% - 2* $marginSides);

            img{
                width: 1em;
                height: 1em;
            }

            label{
                @include baseFont($regular, var(--smallSize));
                color: var(--textC);
                flex-grow:1;
                margin-left: 1em;
            }

            
        }
        
        .buttonWrapper{
            @include flexOAJ(row,flex-end , center);

            .reset{
                font-size: var(--textSize);
            }
        }


        
    }

}

.breakButton {
    @include defaultButton();
    @include lightIndent();

    &:hover{
        @include dropShadow();
    }
}

.firstPrio {
    background-color: var(--primaryC);
}

.secondPrio {
    background-color: var(--backgroundC);
    color: var(--textShadeC);
}



.loginRegister {
    @include flexOAJ(column, stretch, flex-start);
    @include baseFont($regular, var(--inputSize));

    height: calc(100% - var(--heightTitlebar));

    form {
        @include flexOAJ(column, stretch, center);

        margin-top: 1em;

        input {
            border: 0;
            border-radius: 0;
            color: var(--textC);
            background-color: var(--backgroundC);
        }

        .inputWrapper {
            background-color: var(--backgroundC);

            @include flexOAJ(row, center, space-between);
            @include baseFont($regular, var(--inputSize));

            .defaultInput {
                @include lightIndent();
                @include flexOAJ(row, center, flex-start);
                flex-grow: 1;

                input {
                    flex-grow: 1;
                    margin-bottom: 0.7em;
                    margin-top: 0.7em;

                    &:focus {
                        outline-width: 0;
                    }
                }

                button {
                    &:disabled {
                        display: none;
                    }
                }

                @include inlineButton();

                margin-bottom: 1em;
                margin-top: 1em;
                border-bottom: 0.05em var(--textShadeC) solid;
            }





        }

        label {
            color: var(--primaryC);
        }

        .passwordWrapper {
            @include flexOAJ(row, stretch, center);

            margin-bottom: 1em;
            margin-top: 0.2em;

            input {

                &[type="text"],
                &[type="password"] {
                    flex-grow: 1;
                    margin: 0;
                }
            }

            .inlineButton {
                @include roundedCorners(false);
                @include baseFont($semibold, var(--textSize));

                color: var(--backgroundC);

                background-size: 1.8em 1.8em;
                background-repeat: no-repeat;
                background-position: center;
                color: var(--textC);
                background-color: var(--backgroundC);


                padding: 1em;
                width: 2.8em;
                border-width: 0;
                margin: 0;
                margin-left: 0.6em;

                cursor: pointer;


                &:hover {
                    background-color: var(--primaryC);
                }
            }
        }

    }

    .breakinglabeledCheckbox {
        @include flexOAJ(row, center, flex-start);
        @include lightIndent();
        margin-top: 0.4em;

        label {
            margin-left: 0.5em;
        }
    }

    p {
        color: var(--textShadeC);
        @include lightIndent();

        margin-top: 2em;
        margin-bottom: 2em;

        span {
            color: var(--textC);
            font-weight: $bold;
        }

    }

    h1 {
        @include lightIndent();

        font-size: var(--titleSizeBig);

        margin-bottom: 0em;
        margin-top: 3em;
    }


}

.errMsgWrapper {
    @include flexOAJ(column, center ,center );
    width:100%;

    background-color: var(--backgroundC);
    
    .errMsg {
        @include flexOAJ(row, center , space-between);
        @include roundedCorners(false);
        background-color: var(--textC);
        width: 70%;
        padding:0.2em;
        padding-left: 1em;
        padding-right:1em;

        label{

            @include baseFont($regular, var(--inputSize));
            color: var(--backgroundC);
        }
        button{
            background: transparent;
            border-width: 0;

            height:1.8em;
            width:1.8em;

            &:hover{
                cursor: pointer;
            }

            img{
                height:100%;
                width:100%;
            }
            
        }
            
    }

    button {
        cursor: pointer;
    }
}


    .backButtonPopupWrapper{
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;

        @include flexOAJ(column,center ,center );

        backdrop-filter: brightness(var(--toneDown));
        
        .backPopup {
            $marginSides: 1em;

            @include baseFont($regular, var(--textSize));
            @include flexOAJ(column, stretch ,center );
            @include roundedCorners(false);
            @include lightIndent();
            @include dropShadow();
            
            max-width: calc(var(--maxWidth) - 4* $marginSides);

            position: relative;
            z-index: 3;
            border: var(--frameVisible) var(--textShadeC) solid;

            margin: 1em;
            padding: 1em;

            background-color: var(--backgroundC);

        }
    }


.titleButton {
    @include titleButton();

    height: calc(var(--titleSize) * 1.2);
    width: calc(var(--titleSize) * 1.2);

    @include imageLimiter();

    &:disabled {
        display: none;
    }

}
.searchOverlay {
    position:fixed;
    top: 0;
    left: 0;
    z-index:1;
    height: 15vh;
    width: 100vw;

    @include flexOAJ(column, flex-start, center);

    .searchWrapper {
        $top: 3.5em;
        $margin: 10%;

        @mixin margins(){
            padding-top: 0.5em;
            padding-bottom: 0.5em;
        }

        @include baseFont($regular, var(--inputSize));
        @include flexOAJ(column,flex-start ,center );
        @include roundedCorners(false);
        @include dropShadow();

        position: fixed;
        z-index: 1;
        left: calc(50vw - (var(--maxWidth) /2) + 5vw);
        top: $top;
        width: 90%;
        max-width: calc(var(--maxWidth) - 10vw);

        background-color: var(--backgroundC);


        .searchField {

            @include flexOAJ(row, center, center);
            @include imageLimiter();
            
            height: 2em;
            width: 100%;

            button {
                width: 2.5em;
                height: 2.5em;

                @include imageLimiter();

                background: transparent;
                border: 0;

                &:disabled {
                    display: none;
                }
            }

            @include inlineButton();

            input {
                flex-grow: 1;
                border: none;

                &:focus {
                    outline-width: 0;
                }
            }

            

        }
        .filterField {
            @include flexOAJ(row, center ,flex-start);
            height: 2em;
            width: 100%;

            margin-left: 0.8em;
            margin-right: 0.8em;

            border-top: 0.1em var(--backgroundShadeC) solid;

            label{
                margin-right: 0.5em;
            }
        }

    }
}

.searchFocus {
    background-color: var(--primaryC);
}

.photoOverlayWrapper {
    @include flexOAJ(column, center, center);
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 2;

    backdrop-filter: brightness(var(--toneDown));

    .photoOverlay {
        position:relative;
        @include flexOAJ(column, center, flex-end);
        @include roundedCorners(false);
        @include dropShadow();
        max-width: var(--maxWidth);

        background-color: var(--backgroundShadeC);
    
        video {
            @include roundedCorners(false);
            position: relative;
            height: 100%;
            width: 100%;
        }
    
        img {
            @include roundedCorners(false);
        }
    }
}

.breakButtonWrapper{
    position:absolute;
    @include flexOAJ(column, center, space-between);
    
    width:100%;
    height:100%;
    
    .photoHeader{
        @include flexOAJ(row, center, space-between);
        width: 100%;
        
    }
    .photoFooter{
        @include flexOAJ(row, center, space-between);
        width: 100%;

        .shutter{
            @include flexOAJ(row, stretch , center);
            opacity: 70%;
            margin: 2em;
            border-radius: 50%;
            border: 0.1em var(--backgroundC) solid;

            width: 3em;
            height:3em;

            .innerShutter{
                background-color: var(--backgroundC);
                flex-grow: 1;
                border-radius: 50%;

                margin: 0.2em;

                &:hover{
                    background-color: var(--primaryC);
                }
                
            }
        }

        .sendPhotoButton{
            opacity: 100%;
            background-color: var(--primaryC);
        }

    }
    button{
        background-color: var(--backgroundC);
        opacity: 70%;
        margin: 1em;

        height: 2.5em;
        width: 2.5em;

        border-radius: 50%;

    }
    .placeholder{
        width:2em;
        height:2em;
        margin: 1em;
    }
}

.photoPanel{

    position:relative;
    @include flexOAJ(column, center, flex-end);
    @include dropShadow();
    padding: 1em;
    
    img{
        @include roundedCorners(false);
        width: 100%;
    }
    
}