@font-face {
  font-family: Outfit;
  src: url(../../font/Outfit-VariableFont_wght.ttf);
}
html {
  margin: 0;
  padding: 0;
  border: 0;
}

.background {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  margin: 0;
}

.mainContainer {
  box-shadow: 0 0 0.5em #DEEFE7;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  position: relative;
  overflow-y: hidden;
  background-color: #DEEFE7;
  width: 100%;
  max-width: 500px;
  height: 100vh;
}

.chatBox {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  height: calc(100% - 3em);
  overflow-y: scroll;
  overflow-x: hidden;
}
.chatBox::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}
.chatBox .wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
}
.chatBox .wrapper:last-child {
  margin-bottom: 4em;
}
.chatBox .self {
  align-items: flex-end;
}
.chatBox .messageCard {
  background-color: #FFFFFF;
  border-radius: 0.6em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0.4em;
  padding-left: 1em;
  padding-right: 1em;
  margin: 0.4em;
  margin-left: 0.8em;
  margin-right: 0.8em;
}
.chatBox .messageCard .name {
  font-family: Outfit;
  font-weight: 700;
  font-size: 14px;
}
.chatBox .messageCard .text {
  font-family: Outfit;
  font-weight: Light;
  font-size: 14px;
}
.chatBox .messageCard .time {
  font-family: Outfit;
  font-weight: 700;
  font-size: 10px;
  color: #B4BEC9;
}

.messageBox {
  font-family: Outfit;
  font-weight: 400;
  font-size: 14px;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  position: absolute;
  top: calc(100% - 4em);
  left: 0.5em;
  width: calc(100% - 1em);
}
.messageBox input[type=text] {
  box-shadow: 0 0 0.5em #DEEFE7;
  border-radius: 0.6em;
  border-width: 0;
  padding: 1em;
  margin-bottom: 1em;
  margin-top: 0.2em;
  flex-grow: 1;
  margin-right: 0.5em;
  margin-bottom: 0;
  margin-top: 0;
}
.messageBox input[type=text]:focus {
  border-color: #159A9C;
}
.messageBox button {
  border-radius: 0.6em;
  font-family: Outfit;
  font-weight: 600;
  font-size: 14px;
  color: #FFFFFF;
  background-color: #159A9C;
  padding: 1em;
  margin-top: 1em;
  margin-bottom: em;
  border-width: 0;
  box-shadow: 0 0 0.5em #DEEFE7;
  margin-top: 0;
}
.messageBox button:hover {
  background-color: #FFFFFF;
  color: #002333;
}

.titleBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: felx-start;
  font-family: Outfit;
  font-weight: 700;
  font-size: 20px;
  height: 3em;
  background-color: #FFFFFF;
}
.titleBar .menuButton {
  border-radius: 0.6em;
  background-color: #FFFFFF;
  background-image: url(../../icons/burger.svg);
  background-size: 1.2em 1.2em;
  background-repeat: no-repeat;
  background-position: center;
  width: 2em;
  height: 2em;
  border-style: none;
}
.titleBar .menuButton:hover {
  background-color: #159A9C;
  background-image: url(../../icons/burger_light.svg);
  cursor: pointer;
}

.menu {
  position: absolute;
  top: 4.2em;
  width: 40%;
  left: -40%;
  transition: left 0.2s linear;
  font-family: Outfit;
  font-weight: 600;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  box-shadow: 0 0 0.5em #DEEFE7;
  border-radius: 0.6em;
  background-color: #FFFFFF;
}
.menu .menuItem {
  border-radius: 0.6em;
  color: #002333;
  font-size: 16px;
  padding: 1em;
}
.menu .menuItem:hover {
  cursor: pointer;
}

.menuVisible {
  left: 1em;
  transition: left 0.2s linear;
}

#menuToggle {
  display: none;
}

.loginRegister {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.loginRegister .loginHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-family: Outfit;
  font-weight: 400;
  font-size: 20px;
  height: 4em;
}
.loginRegister .loginHeader label:hover {
  cursor: pointer;
}
.loginRegister .loginHeader .selected {
  text-decoration: underline;
}
.loginRegister form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  padding: 0.4em;
  padding-left: 1em;
  padding-right: 1em;
  margin: 0.4em;
  margin-left: 0.8em;
  margin-right: 0.8em;
  font-family: Outfit;
  font-weight: 400;
  font-size: 14px;
  padding-left: 2em;
  padding-right: 2em;
}
.loginRegister form input[type=text], .loginRegister form input[type=password] {
  border-radius: 0.6em;
  border-width: 0;
  padding: 1em;
  margin-bottom: 1em;
  margin-top: 0.2em;
}
.loginRegister form input[type=text]:focus, .loginRegister form input[type=password]:focus {
  border-color: #159A9C;
}
.loginRegister form label {
  color: #159A9C;
}
.loginRegister form button {
  border-radius: 0.6em;
  font-family: Outfit;
  font-weight: 600;
  font-size: 14px;
  color: #FFFFFF;
  background-color: #159A9C;
  padding: 1em;
  margin-top: 1em;
  margin-bottom: em;
  border-width: 0;
}
.loginRegister form button:hover {
  background-color: #FFFFFF;
  color: #002333;
}
.loginRegister .labeledCheckbox {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}/*# sourceMappingURL=main.css.map */